[Unit]
Description=Android SSH Server
Documentation=man:sshd(8)
After=network.target sshd-keygen.service
Wants=sshd-keygen.service

[Service]
Type=notify
ExecStart={{ ssh_startup_script }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
